@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="@Url.Content("~/Content/custom/images/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/custom/images/favicon.jpg")" type="image/png" />

    <title>@ViewBag.Title | @WebConfigurationManager.AppSettings.Get("SiteTitle")</title>
    
    @Styles.Render("~/Global")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        <header id="header">
            @Html.Partial("_Header")
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer id="footer">
            @Html.Partial("_Footer")
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>