@using BlackMesa.Website.Resources;

<ul>
    <li><a href="@Url.Action("Index", "Entry")"><i class="fa fa-home"></i> <span>@Strings.Blog</span></a></li>
    <li><a href="@Url.Action("Index", "About")"><i class="fa fa-user"></i> <span>@Strings.About</span></a></li>
    <li><a href="@Url.Action("Archive", "Entry")"><i class="fa fa-inbox"></i> <span>@Strings.Archive</span></a></li>
    <li><a href="@Url.Action("Index", "LegalNotice")"><i class="fa fa-legal"></i> <span>@Strings.LegalNotice</span></a></li>
</ul>