@using BlackMesa.Website.Resources;

<ul>
    <li><a href="@Url.Action("IndexClean", "Entry")"><i class="fa fa-book"></i> <span>@Strings.Blog</span></a></li>
    @*<li><a href="@Url.Action("Index", "About")"><i class="fa fa-user"></i> <span>@Strings.About</span></a></li>*@
    @*<li><a href="@Url.Action("Search", "Entry")"><i class="fa fa-inbox"></i> <span>@Strings.Search</span></a></li>S*@
    @*<li><a href="@Url.Action("Index", "LegalNotice")"><i class="fa fa-legal"></i> <span>@Strings.LegalNotice</span></a></li>*@
</ul>