@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.IndexCard.CreateIndexCardViewModel

@{
    ViewBag.Title = Strings.CreateIndexCard;
}

@* ------------------- Content ------------------- *@

<div id="content">
    
    <section id="indexcard-create">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_CreateEditLearningUnit")
            
            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }


            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

    
            <div class="form-element-container">
                @Html.TextAreaFor(model => model.FrontSide, new { @placeholder = Strings.FrontSide, @autocomplete = "off" })
            </div>


            <div class="form-element-container">
                @Html.TextAreaFor(model => model.BackSide, new { @placeholder = Strings.BackSide, @autocomplete = "off" })
            </div>

            
            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    @Strings.Save
                </button>
            </div>
    }

    </section>


</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.FolderId })" title="@Strings.Abort">
        <i class="icon-abort"></i>
    </a>


</nav>

@section Scripts {

    <script src="~/Areas/Learning/Javascript/create-edit-indexcard.js"></script>

}