@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.IndexCard.DeleteIndexCardViewModel

@{
    ViewBag.Title = Strings.IndexCard + " " + Strings.Delete;
}


@* ------------------- Content ------------------- *@

<div id="content">
    

    <section id="indexcard-delete">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FolderId)
            
            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }

            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="tile gray-light">
                "<strong>@Model.Question</strong>" @Strings.Delete?
            </div>
            

            <div class="form-element-container">
                <button class="gray-darker-hover" type="submit">
                    @Strings.Delete
                </button>
            </div>
        }

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.FolderId })" title="@Strings.Abort">
        <i class="icon-abort"></i>
    </a>

</nav>