@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.IndexCard.IndexCardDetailsViewModel
    

@{
    ViewBag.Title = Model.Question;
}

@* ------------------- Content ------------------- *@

<div id="content">
    <section id="indexcard-details">
        
        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="tile gray-light">
            <pre>@Model.Answer</pre>
        </div>
        
        @if (!String.IsNullOrEmpty(Model.Hint))
        {
        <div class="tile gray-light">
            @Model.Hint
        </div>
        }
            
        @if (!String.IsNullOrEmpty(Model.CodeSnipped))
        {
            <div class="tile gray-light">
                @Model.CodeSnipped
            </div>
        }

        @if (!String.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="tile gray-light">
                @Model.ImageUrl
            </div>
        }
        
        <div class="tile gray-dark">
            <h3>@Strings.QueryHistory</h3>
        </div>
        
        @foreach (var query in Model.Queries)
        {
            <div class="tile gray-light">
                @query.Result vom @query.QuestionTime
            </div>
        }

    </section>
</div>


@* ------------------- Menu ------------------- *@

<nav id="menu"> 

    <a class="red-hover" href="@Url.Action("Edit", "IndexCard", new { id = Model.Id })" title="@Strings.Edit">
        <i class="icon-edit"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Select", "IndexCard", new { id = Model.Id })" title="@Strings.Select">
        <i class="icon-select"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Delete", "IndexCard", new { id = Model.Id })" title="@Strings.Delete">
        <i class="icon-delete"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.FolderId })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>


@section Scripts {
    
}