@using BlackMesa.Blog.Model
@model BlackMesa.Blog.Model.Entry

@{
    ViewBag.Title = Model.Title;
}

<section id="entry-details">

    <article>
        <header>
            @Html.Partial("_EntryHead", Model)
            @Model.Preview
        </header>
        <div id="article-body">
            @Html.Raw(Model.Content)
        </div>
        
         @Html.Partial("Comment/_Index", Model.Comments) 
        
    </article>

     @Html.Partial("Comment/_Create", new Comment{ EntryId = Model.Id } ) 
    
</section>
