
@using BlackMesa.Website.Resources
@model BlackMesa.Blog.Model.Entry

@{
    ViewBag.Title = "Edit";
}

<section id="entry-edit">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Edit Entry</legend>

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("_CreateEditFieldset")

            <p>
                <button type="submit">
                    @Strings.Save
                </button>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </fieldset>
    }

</section>


@section Styles {
    @Styles.Render("~/Content/admin")
}

@section Scripts {
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/Content/custom/scripts/entry-create-edit.js") 
    
}
