@using PagedList.Mvc
@using BlackMesa.Website.Resources;
@model BlackMesa.Website.Main.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = Strings.Home;
}


<section id="entry-index">
    <div id="entry-index-articles">

        @if (!String.IsNullOrEmpty(Model.SelectedTag) || Model.SelectedYear.HasValue || !String.IsNullOrEmpty(Model.SearchText))
        {
            string searchOptions = "";
            if (!String.IsNullOrEmpty(Model.SelectedTag))
            {
                searchOptions += Strings.Tags + Model.SelectedTag;
            }
            if (Model.SelectedYear.HasValue)
            {
                searchOptions += "Jahr: " + Model.SelectedYear;
            }
            if (Model.SelectedMonth.HasValue)
            {
                searchOptions += "Monat: " + Model.SelectedMonth;
            }
            if (!String.IsNullOrEmpty(Model.SearchText))
            {
                searchOptions += "Suchtext" + Model.SearchText;
            }
            
            <h3>Ihre Suchoptionen: @searchOptions Gefundene Einträge: @Model.EntriesFound @Html.ActionLink("Erneut suchen","Archive","Entry")</h3>
        }

        @if (Model.Entries.Count > 0)
        {
            foreach (var item in Model.Entries)
            {
                @Html.Partial("_EntryPreview", item)
            }
        }
        else
        {
            <div id="no-entries-found">
                @Strings.NoEntriesFound
            </div>

        }

    </div>

    <div id="entries-bottom-bar">

        @if (User.IsInRole("Admin"))
        {
            <div id="add-entry-button">
                <i class="fa fa-plus-circle"></i><a href="@Url.Action("Create")">@Strings.AddEntry</a>
            </div>
        }

        <div class="paged-list-pager">
            @Html.PagedListPager(Model.Entries, page => Url.Action("Index", "Entry", new { page, Model.OrderBy, Model.SelectedTag, Model.SelectedMonth, Model.SelectedYear, Model.SearchText }), PagedListRenderOptions.Classic)
        </div>
    </div>

</section>


