@using BlackMesa.Resources
<div id="membership">
    @if (Request.IsAuthenticated)
    {
         @Html.Partial("_LoggedIn")
    }
    else
    {
        <a id="hidden-login-link" href="@Url.Action("Login", "Account")"></a>
    }
</div>
<div id="logo">
    <a href="@Url.Action("Index", "Entry")"><img src="/Content/images/blackmesa_logo.png" alt="BlackMesa Logo"/></a>
</div>
<div id="header-bar">
    <nav>
        @Html.Partial("_Navigation")
    </nav>
    <div id="filter-by-tag">
        <div id="filter-by-tag-caption"><i class="icon-tags"></i> @Strings.FilterByTag: </div>
        <div id="filter-by-tag-input">
            <ul class="tag-input"></ul>
        </div>
    </div>
</div>

