<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
    <body>
        <div class="container-fluid">
            <header class="clearfix" style="margin-bottom: 20px; margin-top: 10px">
                @Html.Partial("_Header")
            </header>
            @RenderBody()
        </div>


        
        @RenderSection("scripts", required: false)
    </body>
</html>