<section id="blackmesa-logo">
    <a href="@Url.Action("Index", "Entry")">
        <img src="~/content/images/blackmesa_logo_multiline.png" alt="BlackMesa IT-Blog"/>
    </a>
</section>


<section id="subscribe">
    <a class="btn" href="#">
        <i class="icon-rss"></i> Subscribe
    </a>
</section>
<section id="archive">
    @Html.Partial("_SectionHeader", 
                  new { Heading = "Archive", Icon = "icon-inbox" })
    
    <section id="fulltext-search">
        <h2><i class="icon-search"></i> Full text search</h2>
        <form class="form-search">
            <div class="input-append">
                <input type="text" id="search-query-input" placeholder="Search archive">
                @*<span class="input-medium uneditable-input">Suchbegriff eingeben</span>*@
                <button type="submit" class="btn">Go</button>
            </div>
        </form>
    </section>
    
    <section id="search-by-month">
        <h2><i class="icon-calendar"></i> Search by month</h2>
        <div class="input-append">
            <select name="choose-month">
                <option>April 2013</option>
                <option>March 2013</option>
            </select>
            <button type="submit" class="btn">Go</button>
        </div>
    </section>

    <section id="search-by-tags">
        <h2><i class="icon-tags"></i> Search by tag</h2>
        @Html.Action("Index", "Tag")
    </section>

</section>

<section id="recent-comments">
    @Html.Partial("_SectionHeader",
    new { Heading = "Recent comments", Icon = "icon-comments" })
    
    @*
    @Html.Action("Index", "Comment")
    *@

    <div id="recentcomments">
        <script type="text/javascript" src="http://blackmesa.disqus.com/recent_comments_widget.js?num_items=3&hide_avatars=1&avatar_size=32&excerpt_length=100">
        </script>
    </div>

</section>

    