@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.TextCard.CreateTextCardViewModel

@{
    ViewBag.Title = Strings.TextCard + " " + Strings.Create;
}

@* ------------------- Content ------------------- *@

<div id="content">
    

    <section id="text-card-create">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }


            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            @Html.Partial("_CreateEditLearningUnit")

    
            <div class="form-element-container">
                @Html.TextBoxFor(model => model.Question, new { @placeholder = Strings.Question })
            </div>


            <div class="form-element-container">
                @Html.TextBoxFor(model => model.Answer, new { @placeholder = Strings.Answer })
            </div>

            
            <div class="form-element-container">
                <button class="gray-darker-hover" type="submit">
                    @Strings.Save
                </button>
            </div>
    }

    </section>


</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">


    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Home">
        <i class="fi-home"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Back">
        <i class="fi-arrow-left"></i>
    </a>


</nav>