@model BlackMesa.Blog.Models.Entry

@{
    ViewBag.Title = "Edit";
}

<section id="entry-edit">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Edit Entry</legend>

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("_CreateEditFieldset")

            <p>
                <input class="entry-create-edit-submit btn btn-primary" type="submit" value="Save" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
            </p>
        </fieldset>
    }

</section>


@section Styles {
    @Styles.Render("~/Content/admin")
}

@section Scripts {
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/Scripts/entry-create-edit.js") 
    @Html.Partial("_CreateEditFieldsetJavascript", Model)  @* We only use the PartialView solution here, because the regular external js file cant take a model and we need the model data  *@
}
