@using System.Globalization
@using BlackMesa.Utilities
@model BlackMesa.Models.Entry

<article>
    <div class="article-head">
        <div class="article-date-day">
            @Model.DateCreated.ToString("dd")
        </div>
        <div class="article-month-year-container">
            <div class="article-date-month">@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(Model.DateCreated.Month)
            </div>
            <div class="article-date-year">
                @Model.DateCreated.Year
            </div>
        </div>
        <div class="article-title-subtitle-container">
            <div class="article-title">
                @Html.ActionLink(Model.Title, "Details", "Entry", new { id = Model.Id, title = Utilities.MakeUrlFriendly(Model.Title)  }, null )
            </div>

            <div class="article-subtitle">
                <i class="icon-comment"></i>
                @Model.Comments.Count
                <span class="tags">
                    <i class="icon-tags"></i> Tags:
                    @foreach(var tag in Model.Tags)
                    {
                        @Html.ActionLink(tag.Name, "Index", "Entry", new { SelectedTags = tag.Name }, null)
                    }
                </span>
            </div>
        </div>
    </div>
    
    
        @Html.Raw(Model.Content) 
        @Html.ActionLink("... More", "Details", "Entry", new { id=Model.Id }, new { @class="btn btn-mini" })
        <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i> Entry
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Edit", "Entry", new { id=Model.Id })"><i class="icon-pencil"></i> Edit</a></li>
                <li><a href="@Url.Action("Delete", "Entry", new { id=Model.Id })"><i class="icon-trash"></i> Delete</a></li>
            </ul>
        </div>
    

</article>
