@using PagedList.Mvc
@model PagedList.IPagedList<BlackMesa.Models.Entry>

@*
<div id="entries-info-bar">
    <div id="entries-sort">
        <i class="icon-reorder"></i> Sort by: 
        @Ajax.ActionLink("Most Recent", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "date" }, 
                         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "entry-index-articles" }) | 
        @Ajax.ActionLink("Most viewed", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "views" }, 
                         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "entry-index-articles" }) |
        @Ajax.ActionLink("Most commented", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "comments" }, 
                         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "entry-index-articles" })
    </div>
    
    <div id="entries-count">
        <i class="icon-info-sign"></i> @ViewBag.EntriesFound entries found
    </div>
</div>
*@



@foreach (var item in Model)
{
    @Html.Partial("_Entry", item)
}

@Html.PagedListPager(Model, page => Url.Action("Index", "Entry", new { page, ViewBag.SelectedTags, ViewBag.OrderBy }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast, 
    new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "entry-index-articles" }))