@model BlackMesa.Models.Entry

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Entry</legend>

        @Html.Partial("_CreateEditFieldset")  @* no model is passed so the parents viewmodel is passed by default *@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Partial("_DateTimePickerJavascript", Model)
}
