@model BlackMesa.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<section id="entry-index">
    
    <div class="clearfix" id="entries-top-bar">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "entry-filter-form" }))
        {
            <ul style="float: right" class="tag-input"></ul>
            <input id="SelectedTags" name="SelectedTags" type="hidden" value="" />
        }

        <span style="float: right; line-height: 30px; min-height: 30px; vertical-align: middle; margin-right: 10px; margin-left: 20px;"><i class="icon-tags"></i> Filter by tag: </span>
        
        <div style="float: right; line-height: 30px" id="sort-bar">
            
            @*<i class="icon-reorder"></i> Sort by: 
            @Html.ActionLink("Most Recent", "Index", new { orderBy = "date" })  | @Html.ActionLink("Most Viewed", "Index", new { orderBy = "views" }) | @Html.ActionLink("Most Commented", "Index", new { orderBy = "comments" })*@
            

        </div>
    </div>
    
    <div id="entry-index-articles">
        @Html.Partial("_Entries",  Model.Entries)
    </div>
    

</section>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var sendAjaxRequest = function () {
            var data = { SelectedTags: $(".tag-input").tagHandler("getSerializedTags") };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Entry")',
                data: data,
                success: function (htmlString) {
                    $("#entry-index-articles").html(htmlString);
                    $(".ui-autocomplete").hide();
                },
                dataType: 'html',
            });
        };

        $(".tag-input").tagHandler({
            getData: { selectedTags: '@Model.SelectedTags' },
            getURL: '@Url.Action("JsonIndex", "Tag")',
            afterAdd: sendAjaxRequest,
            afterDelete: sendAjaxRequest,
            allowAdd: false,
            msgNoNewTag: "Please select an existing tag from the list.",
            autocomplete: true,
        });
    </script>

}
