@model BlackMesa.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = "Home";
}

<section id="entry-index">
    
    <div id="entries-top-bar">
        <div id="filter-by-tag">
            <ul class="tag-input"></ul>
        </div>
        <div id="filter-by-tag-caption"><i class="icon-tags"></i> Filter by tag: </div>
        
        
    </div>
    
    <div id="entry-index-articles">
        @Html.Partial("_Entries",  Model.Entries)
    </div>
    
</section>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        var onTagClick = function (selectedTags) {

            $('#filter-by-tag').empty();
            $('#filter-by-tag').append('<ul class="tag-input"></ul>');
            initTagHandler(selectedTags);
        };

        var sendAjaxRequest = function () {
            var data = { SelectedTags: $(".tag-input").tagHandler("getSerializedTags") };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Entry")',
                data: data,
                success: function (htmlString) {
                    $("#entry-index-articles").html(htmlString);
                    $(".ui-autocomplete").hide();
                },
                dataType: 'html',
            });
        };

        var initTagHandler = function (selectedTags) {

            $(".tag-input").tagHandler({
                getData: { selectedTags: selectedTags },
                getURL: '@Url.Action("JsonIndex", "Tag")',
                afterAdd: sendAjaxRequest,
                afterDelete: sendAjaxRequest,
                allowAdd: false,
                msgNoNewTag: "Please select an existing tag from the list.",
                autocomplete: true,
            });

        };

        initTagHandler('@Model.SelectedTags');
        
    </script>
    
    
}
