@model BlackMesa.Website.Main.Models.Blog.Entry

<div id="entry-create-edit">

    @Html.ValidationSummary()

    <input name="Language" type="hidden" value="@ViewBag.CurrentLanguage" />

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.TagsAsString)
    @Html.EditorFor(model => model.TagsAsString)

    @Html.LabelFor(model => model.Preview)
    @Html.EditorFor(model => model.Preview)

    @Html.LabelFor(model => model.Content)
    @Html.EditorFor(model => model.Content)

    @Html.LabelFor(model => model.DateCreated)
    @Html.EditorFor(model => model.DateCreated)

    @Html.LabelFor(model => model.DateEdited)
    @Html.EditorFor(model => model.DateEdited)

    @Html.LabelFor(model => model.Published)
    @Html.CheckBoxFor(model => model.Published)

</div>
