@using BlackMesa.Website.Main.Resources
@model BlackMesa.Website.Main.Models.Blog.Entry

@{
    ViewBag.Title = Strings.Entry + " " + Strings.Create;
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h1>@ViewBag.Title</h1>
    
    @Html.Partial("_CreateEditFieldset")  @* no model is passed so the parents viewmodel is passed by default *@
        
    <br/>

    <input class="entry-create-edit-submit" type="submit" value="@Strings.Create" />
    <i class="fa fa-arrow-circle-o-left"></i> @Html.ActionLink(Strings.Back, "Index")
}