@using BlackMesa.Website.Main.Resources
@model BlackMesa.Website.Main.Models.Blog.Entry

@{
    ViewBag.Title = Strings.Entry + " " + Strings.Delete;
}

<h1>@ViewBag.Title</h1>

<p>Are you sure you want to delete this?</p>

<strong>@Html.DisplayFor(model => model.Title)</strong>

@Html.DisplayFor(model => model.DateCreated)

<br/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@Strings.Delete" />
        <i class="fa fa-arrow-circle-o-left"></i>  @Html.ActionLink(Strings.Back, "Index")
    </p>
}
