
@using BlackMesa.Website.Main.Resources
@model BlackMesa.Website.Main.Models.Blog.Entry

@{
    ViewBag.Title = "Edit";
}

<section id="entry-edit">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Edit Entry</legend>

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("_CreateEditFieldset")

            <p>
                <button type="submit">
                    @Strings.Save
                </button>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </fieldset>
    }

</section>
