
@using System.Activities.Statements
@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Selection.ExportViewModel

@{
    ViewBag.Title = Strings.Export;
}


@* ------------------- Content ------------------- *@

<div id="content">

    <section id="selection-export">
        
        @using (Html.BeginForm("DownloadExport", "Selection"))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.FolderId)
            
            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="tile gray-light">
                Hinweise
            </div>

            <div class="form-element-container">
                @Html.TextAreaFor(model => model.SerializationResult, new {@autocomplete = "off", @autofocus = "", @autocorrect = "off"})
            </div>

            <div class="tile gray-dark-hover">
                <h2><i class="icon-clipboard"></i>@Strings.CopyToClipboard</h2>
            </div>

            @*<a class="tile gray-dark-hover" href="@Url.Action("DownloadExport", "Selection", new {folderId = Model.FolderId})">
                <h3><i class="icon-download"></i>@Strings.Download</h3>
            </a>*@
            
            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    <i class="icon-download"></i>@Strings.Download
                </button>
            </div>
        }

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Options", "Selection", new { id = Model.FolderId })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>


@section Scripts {

    <script src="~/Areas/Learning/Javascript/export.js"></script>

}