@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderOptionsViewModel

@{
    ViewBag.Title = Strings.YourSelectedItems;
}



@* ------------------- Content ------------------- *@

<div id="content">
    <section id="selection-index">
        
        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        Loop over all selected items
        
        show settings to interact with selected items
        
        explain how to move selected items
        
        @*<a href="@Url.Action("Move", "Folder", new { id = Model.Id })">
            <div class="tile gray-light-hover">
                <i class="icon-move"></i>@Strings.Move
            </div>
        </a>*@

    </section>

    
</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Index", "Home")" title="@Strings.Home">
        <i class="icon-home"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.Id })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>


@section Scripts {


}