@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Selection.SearchResultsViewModel

@{
    ViewBag.Title = Strings.SearchResults;
}


@* ------------------- Content ------------------- *@

<div id="content">
    
    <section id="folder-search-results">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="tile gray-dark">
            <h3>@Model.SearchResults.Count @(Model.SearchResults.Count == 1 ? Strings.SearchResult : Strings.SearchResults)</h3>
        </div>


        @foreach (var result in Model.SearchResults)
        {
            @Html.Partial("_SearchResult", result)
        }

    </section>

</div>


@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.Id })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>