@model BlackMesa.Website.Main.Areas.Learning.ViewModels.CreateEditFolderViewModel

<div id="folder-create-edit">

    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.Id)

    @Html.LabelFor(model => model.ParentFolderId)
    @Html.EditorFor(model => model.ParentFolderId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.DateCreated)
    @Html.EditorFor(model => model.DateCreated)


</div>
