@using BlackMesa.Website.Main.Resources
@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderListItemViewModel

<div class="folder-list-item">

    @for (int i = 1; i < Model.Level; i++)
    {
        <span class="indent"></span>
    }

    <span class="folder-name"><i class="fa fa-folder"></i> @Html.ActionLink(Model.Name, "Details", "Folder", new { id = Model.Id }, null)</span>
    
    <span class="folder-list-item-container">

        <span class="folder-options">
            <a href="@Url.Action("Create", "Folder", new { parentFolderId = Model.Id }, null)" title="@Strings.CreateSubFolder" class="create-sub-folder"><i class="fa fa-plus-square"></i></a>
            <a href="@Url.Action("Edit", "Folder", new { id = Model.Id }, null)" title="@Strings.EditFolder" class="edit-folder"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Delete", "Folder", new { id = Model.Id }, null)" title="@Strings.DeleteFolder" class="delete-folder"><i class="fa fa-trash-o"></i></a>
            <a href="@Url.Action("Move", "Folder", new { id = Model.Id }, null)" title="@Strings.MoveFolder" class="move-folder"><i class="fa fa-arrows"></i></a>
            <a href="@Url.Action("Create", "TextCard", new { folderId = Model.Id }, null)" title="@Strings.CreateTextCard" class="create-text-card"><i class="fa fa-file-text"></i></a>
        </span>

        <span class="learning-units-count">
            <i class="fa fa-signal"></i> @Model.NumberOfLearningUnitsIncludingAllSubfolders
        </span>

    </span>

</div>



@if (Model.SubFolders.Count > 0)
{
    foreach (var subfolder in Model.SubFolders)
    {
        @Html.Partial("_FolderListItem", subfolder)
    }
}


<div class="folder-list-item">

    @for (int i = 1; i < Model.Level + 1; i++)
    {
        <span class="indent"></span>
    }

    <span class="learning-units-name"><i class="fa fa-copy"></i> @Strings.LearningUnits</span>

    <span class="folder-list-item-container">

        <span class="learning-units-options">

        </span>

        <span class="learning-units-count">
            <i class="fa fa-signal"></i> @Model.NumberOfLearningUnitsInSameFolder
        </span>

    </span>

</div>