@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.DeleteFolderViewModel

@{
    ViewBag.Title = Strings.Folder + " " + Strings.Delete;
}


@* ------------------- Content ------------------- *@

<div id="content">
    

    <section id="folder-delete">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            
            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }

            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="tile gray-light">
                "<strong>@Model.Name</strong>" @Strings.Delete?
            </div>
            
            
            
            @*<p>
                <strong>@Model.Name</strong>
                
            </p>*@

            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    @Strings.Delete
                </button>
            </div>
        }

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">


    @if (String.IsNullOrEmpty(Model.ParentFolderId))
    {
        <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Back">
            <i class="icon-abort"></i>
        </a>
    }
    else
    {
        <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.ParentFolderId })" title="@Strings.Abort">
            <i class="icon-abort"></i>
        </a>
    }


</nav>