@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.DeleteFolderViewModel

@{
    ViewBag.Title = Strings.Folder + ": " + Strings.Delete;
}

<section id="folder-delete">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h1>@ViewBag.Title</h1>

        <p>
            <strong>@Model.Name</strong>
            @Html.HiddenFor(model => model.Id)
        </p>
        
        <p>
            <button type="submit">
                @Strings.Delete
            </button>
            <i class="fa fa-arrow-circle-o-left"></i> @Html.ActionLink(Strings.Back, "Index")
        </p>
    }

</section>
