@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderDetailsViewModel

@{
    ViewBag.Title = Model.Name;
}



@* ------------------- Content ------------------- *@

<div id="content">
    <section id="folder-details">
        
        @Html.Partial("_Path", Model.Path)

        <div id="current-folder" class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        @foreach (var subFolder in Model.SubFolders)
        {

            <a href="@Url.Action("Details", "Folder", new { id = subFolder.Id })">
                <div class="tile gray-light-hover">
                    <i class="icon-folder"> </i>@subFolder.Name
                </div>
            </a>

        }


        @foreach (var indexCard in Model.IndexCards)
        {
            <a href="@Url.Action("Details", "IndexCard", new { id = indexCard.Id })">
                <div class="tile gray-light-hover">
                    <i class="icon-indexcard"> </i>@indexCard.Question
                </div>
            </a>
        }


    </section>

    
</div>



@* ------------------- Submenu ------------------- *@

<nav id="folder-submenu" class="submenu">
    
    <a class="red-hover" href="@Url.Action("Edit", "Folder", new { id = Model.Id })" title="@Strings.Edit">
        <i class="icon-edit"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Move", "Folder", new { id = Model.Id })" title="@Strings.Move">
        <i class="icon-move"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Search", "Folder", new { id = Model.Id })" title="@Strings.Search">
        <i class="icon-search"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Delete", "Folder", new { id = Model.Id })" title="@Strings.Delete">
        <i class="icon-delete"></i>
    </a>
    
    <a class="back-tile gray-light-hover" href="#" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>


@* ------------------- Submenu ------------------- *@

<nav id="create-submenu" class="submenu">

    <a class="red-hover" href="@Url.Action("Create", "IndexCard", new { folderId = Model.Id })" title="@Strings.CreateIndexCard">
        <i class="icon-indexcard"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Create", "Folder", new { parentFolderId = Model.Id })" title="@Strings.CreateSubFolder">
        <i class="icon-folder"></i>
    </a>
    
    <a class="back-tile gray-light-hover" href="#" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>
</nav>


@* ------------------- Menu ------------------- *@

<nav id="menu">
    
    <a class="red-hover" href="@Url.Action("Setup", "Query", new { folderId = Model.Id })" title="@Strings.StartQuery">
        <i class="icon-rocket"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Create", "IndexCard", new { folderId = Model.Id })" title="@Strings.CreateIndexCard">
        <i class="icon-plus prefix-icon"></i><i class="icon-indexcard"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Create", "Folder", new { parentFolderId = Model.Id })" title="@Strings.CreateSubFolder">
        <i class="icon-plus prefix-icon"></i><i class="icon-folder"></i>
    </a>
    
    <a class="red-hover" href="@Url.Action("Options", "Folder", new { id = Model.Id })" title="@Strings.Options">
        <i class="icon-wrench"></i>
    </a>

    @*<a id="folder-submenu-tile" class="submenu-tile red-hover" href="#" title="@Strings.Folder">
        <i class="icon-folder"></i>
    </a>*@

    @*<a id="create-submenu-tile" class="submenu-tile red-hover" href="#" title="@Strings.Create">
        <i class="icon-plus"></i>
    </a>*@
    



</nav>


@section Scripts {

    <script src="~/Areas/Learning/Javascript/folder-details.js"></script>

}