@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderDetailsViewModel

@{
    ViewBag.Title = Strings.Folder + ": " + Model.Name;
}



@* ------------------- Content ------------------- *@

<div id="content">
    <section id="folder-details">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        @foreach (var subFolder in Model.SubFolders)
        {

            <div class="tile gray-light">
                <i class="fa fa-folder"></i> @subFolder.Name
            </div>

        }


        @foreach (var textCard in Model.TextCards)
        {
            <div class="tile gray-light">
                @textCard.Question
            </div>

        }


    </section>

    
</div>


@* ------------------- Menu ------------------- *@

<nav id="menu">


    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Home">
        <i class="fa fa-home"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Back">
        <i class="fa fa-arrow-circle-o-left"></i>
    </a>


</nav>



@* ------------------- Submenu ------------------- *@

<nav id="submenu">
    <a class="red-hover" href="@Url.Action("Edit", "Folder", new { id = Model.Id })" title="@Strings.Edit">
        <i class="fa fa-pencil"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Delete", "Folder", new { id = Model.Id })" title="@Strings.Delete">
        <i class="fa fa-trash-o"></i>
    </a>

</nav>




