@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.EditFolderViewModel
@{
    ViewBag.Title = Strings.Folder + " " + Strings.Edit;
}


@* ------------------- Content ------------------- *@

<div id="content">
    
    <section id="folder-edit">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            
            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }
            
            
            <div class="form-element-container">
                @Html.TextBoxFor(model => model.Name)
            </div>


            <div class="form-element-container">
                <button class="gray-darker-hover" type="submit">
                    @Strings.Save
                </button>
            </div>
        }

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">


    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Home">
        <i class="fi-home"></i>
    </a>

    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Back">
        <i class="fi-arrow-left"></i>
    </a>


</nav>