@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderIndexViewModel
    

<div id="content">
    <section id="folder-index">

        @*<div id="folder-index-submenu">
            <span id="folder-index-count"><i class="fa fa-list"></i>@Model.TotalLearningUnits @(Model.TotalLearningUnits == 1 ? Strings.LearningUnit : Strings.LearningUnits)</span>
            <span id="folder-index-search"><i class="fa fa-search"></i>@Html.ActionLink(Strings.ToSearch, "Search", "Entry")</span>
            <hr />
        </div>*@
        
        
        <div class="tile-container">
            <div class="tile gray-darkest">
                <h1><i class="fi-folder"></i> Your folders</h1>
            </div>
        </div>


        @foreach (var subFolder in Model.Folders)
        {
            <div class="tile-container">
                <div class="tile gray-light">
                    <i class="fi-folder"></i> @subFolder.Name
                </div>
            </div>
        }

    </section>
</div>


<div id="sidebar">

    @if (Request.IsAuthenticated)
    {
        <div class="nav-tile-container">
            <a href="@Url.Action("Create")" title="@Strings.CreateFolder">
                <div class="nav-tile red">
                    <i class="fi-folder-add"></i>
                </div>
            </a>
        </div>
    }

    <div class="nav-tile-container">
        <a href="@Url.Action("Create")" title="@Strings.CreateFolder">
            <div class="nav-tile red">
                <i class="fi-widget"></i>
            </div>
        </a>
</div>


    <div class="nav-tile-container">
        <a href="@Url.Action("Create")" title="@Strings.CreateFolder">
            <div class="nav-tile red">
                <i class="fi-graph-bar"></i>
            </div>
        </a>
    </div>


    <div class="nav-tile-container">
        <a href="@Url.Action("Login", "Account", new { area = "Identity"})" title="@Strings.LogIn">
            <div class="nav-tile red">
                <i class="fi-torso"></i>
            </div>
        </a>

    </div>
</div>



