@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderIndexViewModel
    

@{
    ViewBag.Title = Strings.YourFolders;
}

@* ------------------- Content ------------------- *@

<div id="content">
    <section id="folder-index">

        @*<div id="folder-index-submenu">
            <span id="folder-index-count"><i class="fa fa-list"></i>@Model.TotalLearningUnits @(Model.TotalLearningUnits == 1 ? Strings.LearningUnit : Strings.LearningUnits)</span>
            <span id="folder-index-search"><i class="fa fa-search"></i>@Html.ActionLink(Strings.ToSearch, "Search", "Entry")</span>
            <hr />
        </div>*@
        
        

        <div class="tile gray-darker">
            <h1><i class="fa fa-list"></i> @ViewBag.Title</h1>
        </div>

        @foreach (var subFolder in Model.Folders)
        {
            <a href="@Url.Action("Details", "Folder", new { id = subFolder.Id })">
                <div class="tile gray-light-hover">
                    <i class="fa fa-folder"></i> @subFolder.Name
                </div>
            </a>
        }


    </section>
</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Create")" title="@Strings.CreateFolder">
        <i class="fi-folder-add"></i>
    </a>


    <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.Home">
        <i class="fi-home"></i>
    </a>


    <a class="red-hover" href="@Url.Action("Create")" title="@Strings.CreateFolder">
        <i class="fi-graph-bar"></i>
    </a>


    <a class="red-hover" href="@Url.Action("Login", "Account", new { area = "Identity"})" title="@Strings.LogIn">
        <i class="fi-torso"></i>
    </a>

   

</nav>