@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.FolderOptionsViewModel

@{
    ViewBag.Title = Model.Name;
}



@* ------------------- Content ------------------- *@

<div id="content">
    
    <section id="folder-options">
        
        @Html.Partial("_Path", Model.Path)

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <a class="tile gray-light-hover" href="@Url.Action("Search", "Folder", new { id = Model.Id })">
            <i class="icon-search"></i>@Strings.Examine
        </a>
        
        <a class="tile gray-light-hover" href="@Url.Action("Statistics", "Folder", new { id = Model.Id })">
            <i class="icon-stats"></i>@Strings.Statistics
        </a>
        

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Details", "Folder", new { id = Model.Id })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>