@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.SearchFolderViewModel

@{
    ViewBag.Title = Strings.SearchFolder;
}


@* ------------------- Content ------------------- *@

<div id="content">
    

    <section id="folder-search">   
        
        @using (Html.BeginForm())
        {
            
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }
            
            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="tile gray-dark">
                <h3>@Strings.SelectedFolder</h3>
            </div>

            <div class="tile gray-light">
                <i class="icon-folder"> </i>@Model.SelectedFolderName
            </div>

            @Html.HiddenFor(model => model.SelectedFolderId)

            <label class="tile gray-light-hover" for="_IncludeSubfolders">
                @Html.CheckBoxFor(model => model.InludeSubfolders, new { @id = "_IncludeSubfolders" }) @Strings.IncludeSubfolders
            </label>


            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    @Strings.ToSearch
                </button>
            </div>
        }
        

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Options", "Folder", new { id = Model.Id })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>