@using BlackMesa.Blog.Resources;

<ul>
    <li><a href="@Url.Action("Index", "Entry")"><i class="fa fa-home"></i> <span>@Strings.Home</span></a></li>
    <li><a href="@Url.Action("Index", "About")"><i class="fa fa-user"></i> <span>@Strings.About</span></a></li>
    <li><a href="@Url.Action("Index", "LegalNotice")"><i class="fa fa-envelope"></i> <span>@Strings.LegalNotice</span></a></li>
</ul>