@using BlackMesa.Blog.Resources;

<ul>
    <li><a href="@Url.Action("Index", "Entry")"><i class="icon-home"></i> <span>@Strings.Home</span></a></li>
    <li><a href="@Url.Action("Index", "About")"><i class="icon-user"></i> <span>@Strings.About</span></a></li>
    <li><a href="@Url.Action("Index", "LegalNotice")"><i class="icon-envelope-alt"></i> <span>@Strings.LegalNotice</span></a></li>
</ul>