@model BlackMesa.Blog.Model.Entry

@{
    ViewBag.Title = Model.Title;
}

<section id="entry-details">

    <article>
    
        @Html.Partial("_EntryHead", Model)
        
        <div id="article-body">
            @Html.Raw(Model.Body)
        </div>

        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the comments.</noscript>
        
        @* @Html.Partial("Comment/_Index", Model.Comments) *@
        
    </article>

    @* @Html.Partial("Comment/_Create", new Comment{ EntryId = Model.Id } ) *@
    
</section>

@section Scripts
{
    <script type="text/javascript">
        var disqus_shortname = 'blackmesa';
        var disqus_identifier = '@Model.Id';
        var disqus_title = '@Model.Title';
        var disqus_url = '@Request.Url';
    </script>

    @Scripts.Render("~/scripts/entry-details.js")
}
