@using PagedList.Mvc
@using BlackMesa.Blog.Resources;
@model BlackMesa.Blog.Main.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = Strings.Home;
}


<section id="entry-index">
    @*
    <div id="entries-top-bar">
        <div id="entries-sort">
            <i class="icon-reorder"></i> Sort by: 
            @Ajax.ActionLink("Most Recent", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "date" }, 
                                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content" }) | 
            @Ajax.ActionLink("Most viewed", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "views" }, 
                                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content" }) |
            @Ajax.ActionLink("Most commented", "Index", "Entry", new { ViewBag.SelectedTags, ViewBag.Page, OrderBy = "comments" }, 
                                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content" })
        </div>
    
        <div id="entries-count">
            <i class="icon-info-sign"></i> @ViewBag.EntriesFound entries found
        </div>
    </div>
    *@
    <div id="entry-index-articles">

        @if(Model.Entries.Count > 0)
        {
            foreach (var item in Model.Entries)
            {
                @Html.Partial("_EntryPreview", item)
            }
        }
        else
        {
            <div id="no-entries-found">
                @Strings.NoEntriesFound
            </div>
            
        }
       
    </div>
    
    <div id="entries-bottom-bar">
    
        @*
            <div id="back-to-top">
                <a href="#"><i class="icon-chevron-up"></i>Back to top</a>
            </div>
            *@
            
        @if (User.IsInRole("Admin"))
        {
            <div id="add-entry-button">
                <a class="btn btn-primary" href="@Url.Action("Create")">
                    <i class="icon-plus-sign"></i> @Strings.AddEntry
                </a>
            </div>
            
            <div id="reparse-button">
                <a class="btn" href="@Url.Action("ReparseAllEntries")">
                    <i class="icon-refresh"></i> @Strings.ReparseAll
                </a>
            </div>
                
        }



        @Html.PagedListPager(Model.Entries, page => Url.Action("Index", "Entry", new { page, ViewBag.SelectedTags, ViewBag.OrderBy }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "content" }))
    
    </div>

    
</section>


