@using PagedList.Mvc
@using BlackMesa.Blog.Resources;
@model BlackMesa.Blog.Main.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = Strings.Home;
}


<section id="entry-index">
    <div id="entry-index-articles">

        @if(Model.Entries.Count > 0)
        {
            foreach (var item in Model.Entries)
            {
                @Html.Partial("_EntryPreview", item)
            }
        }
        else
        {
            <div id="no-entries-found">
                @Strings.NoEntriesFound
            </div>
            
        }
       
    </div>
    
    <div id="entries-bottom-bar">
            
        @if (User.IsInRole("Admin"))
        {
            <div id="add-entry-button">
                <a class="btn btn-primary" href="@Url.Action("Create")">
                    <i class="fa fa-plus-sign"></i> @Strings.AddEntry
                </a>
            </div>
            
            <div id="reparse-button">
                <a class="btn" href="@Url.Action("ReparseAllEntries")">
                    <i class="fa fa-refresh"></i> @Strings.ReparseAll
                </a>
            </div>
                
        }



        @Html.PagedListPager(Model.Entries, page => Url.Action("Index", "Entry", new { page, ViewBag.SelectedTags, ViewBag.OrderBy }), PagedListRenderOptions.Classic)
    
    </div>

    
</section>


